TrashSpotter/Library/PackageCache
TrashSpotter/Library/StateCache
TrashSpotter/Library/ShaderCache
TrashSpotter/Library
TrashSpotter/Temp
TrashSpotter/Assets/TrashSpotter/Scripts/Greenoide/ScriptableObject/BodypartAssets/1_Guardians/*.meta
